<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linker.admin.AdminDao">
	<!-- 회원 승인 -->
	<!-- 공지사항 게시글 작성 -->
	<insert id="writeNotice" parameterType="com.linker.admin.AdminDto">
		insert into noticepost(userid, title, content, creationdate)
		values(#{userid}, #{title}, #{content}, now())
	</insert>

	<!-- 회원 정보 수정 -->
	<update id="updateUser" parameterType="com.linker.admin.AdminDto">
		update user set password = #{password}, name = #{name}, phone = #{phone}
		where userid = #{userid}
	</update>
	<!-- 문의사항 게시글 수정 -->
	<update id="updateInquiry" parameterType="com.linker.admin.AdminDto">
		update inquirypost set title = #{title}, content = #{content}
		where inquirypostid = #{inquirypostid}
	</update>
	<!-- 공지사항 게시글 수정 -->
	<update id="updateNotice" parameterType="com.linker.admin.AdminDto">
		update noticepost set title = #{title}, content = #{content}
		where inquirypostid = #{inquirypostid}
	</update>

	<!-- 회원 삭제 -->
	<delete id="deleteUser" parameterType="String">
		delete from user where userid = #{userid}
	</delete>
	<!-- 문의사항 게시글 삭제 -->
	<delete id="deleteInquiry">
		delete from inquirypost where inquirypostid = #{inquirypostid}
	</delete>
	<!-- 공지사항 게시글 삭제 -->
	<delete id="deleteNotice">
		delete from noticepost where noticepostid = #{noticepostid}
	</delete>

	<!-- 회원 수 가져오기 -->
	<select id="userCount" resultType="int">
		select count(*) from user
	</select>
	<!-- 선택한 회원 가져오기 -->
	<select id="getUserInfo" parameterType="String" resultType="com.linker.admin.AdminDto">
		select * from user where userid = #{userid}
	</select>
	<!-- 회원 리스트 가져오기 -->
	<select id="userList" parameterType="map" resultType="com.linker.admin.AdminDto">
		select * from user order by signupdate desc limit #{start}, #{count}
	</select>
	<!-- 문의사항 게시글 수 가져오기 -->
	<select id="inquiryCount" resultType="int">
		select count(*) from inquirypost
	</select>
	<!-- 선택한 문의사항 게시글 가져오기 -->
	<select id="getInquiry" parameterType="int" resultType="com.linker.admin.AdminDto">
		select * from inquirypost where inquirypostid = #{inquirypostid}
	</select>
	<!-- 문의사항 게시글 목록 가져오기 -->
	<select id="inquiryList" parameterType="map" resultType="com.linker.admin.AdminDto">
		select * from inquirypost order by creationdate desc limit #{start}, #{count}
	</select>
	<!-- 공지사항 게시글 수 가져오기 -->
	<select id="noticeCount" resultType="int">
		select count(*) from noticepost
	</select>
	<!-- 선택한 공지사항 게시글 가져오기 -->
	<select id="getNotice" parameterType="int" resultType="com.linker.admin.AdminDto">
		select * from noticepost where noticepostid = #{noticepostid}
	</select>
	<!-- 공지사항 게시글 목록 가져오기 -->
	<select id="noticeList" parameterType="map" resultType="com.linker.admin.AdminDto">
		select * from noticepost order by creationdate desc limit #{start}, #{count}
	</select>
</mapper>