<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linker.finance.ChartDao">
	<!-- 연도 지정 후 월별 식재료 구매 금액 출력 -->
	<select id="yearlyPurchase" parameterType="int" resultType="com.linker.finance.ChartDto">
		select month(orderdate) as 'month', sum(orderquantity * orderprice) as "totalPurchase"
		from ingredientorder
		where year(orderdate) = #{targetYear}
		group by month;
	</select>

	<!-- 연도 지정 후 월별 티켓 판매 금액 출력 -->
	<select id="yearlySale" parameterType="int" resultType="com.linker.finance.ChartDto">
		select month(orderdate) as 'month', sum(quantity * price) as 'totalSale'
		from ticketorder
		inner join tickettype
		on ticketorder.tickettypeid = tickettype.tickettypeid
		where year(orderdate) = #{targetYear}
		group by month;
	</select>
</mapper>