<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linker.finance.dao.ExpenditureDao">
    <select id="selectAll" resultType="com.linker.finance.dto.ExpenditureDto">
        SELECT orderid, ingredientname, orderquantity * orderprice AS price, orderdate
        FROM ingredientorder
        INNER JOIN ingredient ON ingredient.ingredientid = ingredientorder.ingredientid
    </select>
    
    <select id="selectByDate" resultType="com.linker.finance.dto.ExpenditureDto" parameterType="java.util.Map">
        <![CDATA[ 
        SELECT orderid, ingredientname, orderquantity * orderprice AS price, orderdate
        FROM ingredientorder
        INNER JOIN ingredient ON ingredient.ingredientid = ingredientorder.ingredientid
        WHERE orderdate >= #{startDate} AND orderdate <= #{endDate}
        ORDER BY orderdate DESC 
        ]]> 
    </select>
</mapper>