<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linker.login.dao.FindDao">

 <select id="findByUserId" resultType="com.linker.login.dto.LoginDto">
        select * from user where userid = #{userid}
    </select>
    
    <select id="findId" parameterType="com.linker.login.dto.LoginDto" resultType="String">
  	select userid from user where name = #{name} AND email = #{email}
	</select>

</mapper>