<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linker.ingredient.dao.ListDao">
	<!-- 식자재 추가 -->
	<insert id="addIngredient" parameterType="com.linker.ingredient.dto.ListDto">
		insert into ingredient(ingredientname, unit, exp) values (#{ingredientname}, #{unit}, #{exp})
	</insert>
	<!-- 식자재 수정 -->
	<update id="updateIngredient" parameterType="com.linker.ingredient.dto.ListDto">
		update ingredient set ingredientname = #{ingredientname}, unit = #{unit}, exp = #{exp}
		where ingredientid = #{ingredientid}
	</update>
	<!-- 식자재 삭제 -->
	<delete id="deleteIngredient" parameterType="int">
		delete from ingredient where ingredientid = #{ingredientid}
	</delete>
	<!-- 식자재 목록 조회 -->
	<select id="getIngredient" parameterType="map" resultType="com.linker.ingredient.dto.ListDto">
		select * from ingredient
		order by exp, ingredientname
		limit #{start}, #{count}
	</select>
	<!-- 리스트 개수 조회 -->
	<select id="ingredientCount" resultType="int">
		select count(*) from ingredient
	</select>
	<!-- 선택한 리스트 정보 가져오기 -->
	<select id="getIngredientByID" parameterType="int" resultType="com.linker.ingredient.dto.ListDto">
		select * from ingredient
		where ingredientid = #{ingredientid}
	</select>
	<!-- 식자재 이름으로 조회 -->
	<select id="getIngredientByName" parameterType="map" resultType="com.linker.ingredient.dto.ListDto">
		select * from ingredient
		where ingredientname like concat('%', #{name}, '%')
		order by exp, ingredientname
		limit #{start}, #{count}
	</select>
	<!-- 조회된 개수 조회 -->
	<select id="nameSearchCount" parameterType="String" resultType="int">
		select count(*) from ingredient
		where ingredientname like concat('%', #{name}, '%')
	</select>
	<!-- 식자재 유통기한 조회 -->
	<select id="getIngredientByExp" parameterType="map" resultType="com.linker.ingredient.dto.ListDto">
		select * from ingredient
		where exp between #{startDay} and #{endDay}
		order by exp, ingredientname
		limit #{start}, #{count}
	</select>
	<!-- 조회된 유통기한 개수 조회 -->
	<select id="expSearchCount" parameterType="map" resultType="int">
		select count(*) from ingredient
		where exp between #{startDay} and #{endDay}
	</select>
</mapper>