<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linker.ingredient.dao.MenuDao">
	<!-- 게시글 작성 -->
	<insert id="write" parameterType="com.linker.ingredient.dto.MenuDto">
		insert into menu(userID, title, content, creationDate)
		values(#{userID}, #{title}, #{content}, now())
	</insert>
	<!-- 게시글 수정 -->
	<update id="updateMenu" parameterType="com.linker.ingredient.dto.MenuDto">
		update menu set title = #{title}, content = #{content}
		where menuID = #{menuID}
	</update>
	<!-- 게시글 삭제 -->
	<delete id="deleteMenu" parameterType="int">
		delete from menu where menuID = #{menuID}
	</delete>
	<!-- 게시글 목록 가져오기 -->
	<select id="menuList" parameterType="map" resultType="com.linker.ingredient.dto.MenuDto">
		select * from menu order by creationdate desc, menuid desc limit #{start}, #{count}
	</select>
	<!-- 게시글 전부 가져오기 -->
	<select id="count" resultType="int">
		select count(*) from menu
	</select>
	<!-- 선택한 메뉴 게시글 가져오기 -->
	<select id="menuOne" parameterType="int" resultType="com.linker.ingredient.dto.MenuDto">
		select * from menu where menuID = #{menuID}
	</select>
</mapper>