<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linker.payment.dao.PhoneDao">
	<update id="updateTicketQuantityByPhone" parameterType="map">
		update
		tickethold th
		inner join user on th.userid = user.userid
		set th.quantity = th.quantity - 1
		where user.phone = #{phone} and th.tickettypeid = #{tickettypename};
	</update>

	<select id="tickettypeidList" resultType="Integer">
		SELECT tickettypeid FROM tickettype
	</select>

	<select id="gettypename"
		resultType="com.linker.payment.dto.PhoneDto">
		SELECT tickettypename, tickettypeid FROM tickettype
	</select>

</mapper>
