@charset "UTF-8";

.center-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F5F5F5;
}

.commform {
	margin-top: 5em;
	margin-bottom: 5em;
	width: 400px;
	height: auto;
	max-width: 100%;
	padding: 30px 30px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

h2 {
	font-size: 2.2rem;
	color: #AB7442;
	font-weight: 700;
	margin: 0 0 1.5rem 0;
	text-align: center;
}

.comm_field {
	position: relative;
	margin-bottom: 1.5rem;
}

.comm_input {
	background-color: rgba(0, 0, 0, 0.05);
	border: 1px solid #ddd;
	border-radius: 5px;
	display: block;
	font-size: 18px;
	margin-bottom: 0;
	outline: none;
	padding: 14px;
	width: 100%;
	color: #666;
	box-shadow: none !important;
}

.comm_input::placeholder {
	opacity: 0;
	transition: all 400ms ease;
}

.comm_input:focus::placeholder {
	opacity: 0;
	transition: all 400ms ease;
}

.comm_input:focus {
	outline: none;
	border-color: #7369ac;
	box-shadow: 0 0 5px rgba(115, 105, 172, 0.75);
}

.comm_input:focus ~ .floating-label, .comm_input:not(:placeholder-shown) ~ .floating-label {
	transform: translateY(-250%);
	font-size: 0.75rem;
	transition: all 400ms ease;
}

.floating-label {
	position: absolute;
	font-size: 1.1rem;
	left: 14px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	transition: all 400ms ease;
}

.submit {
	background-color: #4274AB;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	font-size: 18px;
	font-weight: 700;
	padding: 12px;
	width: 100%;
	margin-top: 1.5rem;
	transition: all 0.3s;
}

.submit:hover {
	background-color: #4C85DC;
	transform: translateY(-2px);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#link-menu {
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
	font-weight: bold;
	font-size: 15px;
}

.separator {
	margin: 0 10px;
	color: #666;
}

a {
	text-decoration: none;
	color: #666;
}

a:hover {
	color: #7369ac;
}

#id_check {
  position:relative;
  background-color: #4274AB;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding: 12px;
  width: 100%;
  max-width: 120px;
  transition: all 0.3s;
}

#id_check:hover {
  background-color: #4C85DC;
  transform: translateY(-2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
