/* BODY */
body {
  position: relative; /* 위치 기준 설정: 상대적 위치 */
  height: 130vh; /* 높이 설정: 창의 전체 높이를 채움 */
  min-height: 300px; /* 최소 높이 설정 */
  color: #333; /* 텍스트 색 설정 */
  font-size: 15px; /* 폰트 크기 설정 */
  font-weight: 400; /* 폰트 두께 설정 */
  line-height: 1.4; /* 줄 간격 설정 */
  font-family: 'Montserrat', 'Pretendard', sans-serif; /* 폰트 패밀리 설정 */
 
}

/* BUTTON */
button {
  background-color: #000000; /* 버튼 배경색 설정 */
  color: #f8f8f8; /* 버튼 텍스트 색 설정 */
  cursor: pointer; /* 마우스 커서를 포인터로 설정 */
  border: none; /* 테두리 초기화 */
  box-sizing: border-box; /* 버튼 상자의 크기 결정 */
  font-weight: 400; /* 폰트 두께 설정 */
  font-family: 'Montserrat', 'Pretendard', sans-serif; /* 폰트 패밀리 설정 */
  transition: .1s; /* 속성 변경 시 전환되는 시간 설정 */
}

/* BUTTON FOCUS */
button:focus-visible {
  outline: 0px solid; /* 포커스 시 외곽선 스타일 초기화 */
  background-color: #000000; /* 포커스 시 배경색 변환 */
}

/* BUTTON HOVER */
button:hover {
  outline: 0px solid; /* 마우스 오버 시 외곽선 스타일 초기화 */
  background-color: #000000; /* 마우스 오버 시 배경색 변환 */
}


/* BOX SHAPE INPUT FIELD */
.box {
  width: 80%; /* 너비 설정 */
  height: 70px; /* 높이 설정 */
  box-sizing: border-box; /* 상자 크기 결정 */
  padding: 5px 0 5px 15px; /* 안쪽 여백 설정 */
  border-radius: 4px; /* 모서리 둥글기 설정 */
  border: 1px solid #d9d6d6; /* 테두리 두께 및 색 설정 */
  color: #383838; /* 텍스트 색 설정 */
  font-weight: 400; /* 폰트 두께 설정 */
  font-family: 'Montserrat', 'Pretendard', sans-serif; /* 폰트 패밀리 설정 */
  margin-bottom: 10px; /* 하단 외곽 여백 설정 */
}

/* BOX PLACEHOLDER */
.box::placeholder {
  color: #a0a0a0; /* 입력 필드 플레이스홀더 색 설정 */
}

/* BOX FOCUS */
.box:focus {
  outline: 1px solid #665ae870; /* 포커스 시 외곽선 두께 및 색 설정 */
}

/* CONTAINER */
.container {
  position: absolute; /* 위치 기준 설정: 절대적 위치 */
  display: flex; /* 디스플레이 형식 설정: 플렉스 박스 */
  flex-direction: column; /* 플렉스 항목이 수직 방향으로 배열되도록 설정 */
  width: 500px; /* 폭 설정 */ 
  height: 850px; /* 높이 설정 */ 
  min-width: 350px; /* 최소 폭 설정 */
  top: 0; /* 상단 위치 설정 */
  bottom: 0; /* 하단 위치 설정 */
  left: 0; /* 왼쪽 위치 설정 */
  right: 0; /* 오른쪽 위치 설정 */
  margin: auto; /* 중앙 위치 정렬 설정 */
  justify-content: center; /* 수직 정렬 설정 */
  align-items: center; /* 수평 정렬 설정 */
  border: 1px solid #f8f8f8; /* 테두리 두께 및 색 설정 */
  border-radius: 40px; /* 모서리 둥글기 설정 */
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1); /* 상자 그림자 스타일 설정 */
  box-sizing: border-box; /* 상자 크기 결정 */
}

/* CONTENT */
.content {
  width: 60%; /* 너비 설정 */
  display: flex; /* 디스플레이 형식 설정: 플렉스 박스 */
  flex-direction: column; /* 플렉스 항목이 수직 방향으로 배열되도록 설정 */
  align-items: center; /* 수평정렬 설정 */
}

/* HEADER */
header  {
  width: 100%; /* 폭 설정 */
}

/* HEADER H2 HEADING */
header h2 {
  display: inline; /* 디스플레이 형식 설정: 인라인 요소(들여쓰기 없음) */
  font-size: 25px; /* 폰트 크기 설정 */
  font-weight: 700; /* 폰트 두께 설정 */
  margin-bottom: 3px; /* 하단 여백 설정 */
}

/* SECTION */
section {
  margin: 50px 0 25px 0; /* 섹션의 외곽 여백 설정: 상단 50px, 좌우 0px, 하단 25px */
}

  
/* SUBMIT 버튼 스타일 */
button#signin {
  width: 100%; /* 버튼 너비를 100%로 설정 */
  height: 45px; /* 버튼 높이를 45px로 설정 */
  border-radius: 3px; /* 버튼 모서리를 3px 둥글게 처리 */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 설정 */
  font-size: 15px; /* 글자 크기를 15px로 설정 */
}

/* 실패 결과 메시지 스타일 */
#result-fail {
  width: 100%; /* 너비를 100%로 설정 */
  height: 20px; /* 높이를 20px로 설정 */
  margin-bottom: 5px; /* 아래쪽 여백을 5px로 설정 */
  text-align: center; /* 텍스트 정렬을 가운데로 지정 */
  color: red; /* 글자 색상을 빨강으로 설정 */
  font-size: 13px; /* 글자 크기를 13px로 설정 */
}

/* 링크 메뉴 스타일 */
#link-menu {
  display: flex; /* 표시 유형을 flex로 설정 */
  margin-top: 5px; /* 위쪽 여백을 5px로 설정 */
}

/* 링크 메뉴의 하이퍼링크 스타일 */
#link-menu a {
  display: block; /* 표시 유형을 블록으로 설정 */
  position: relative; /* 포지션 타입을 relative로 설정 */
  font-size: 13px; /* 글자 크기를 13px로 설정 */
  padding: 5px 10px; /* 안쪽 여백을 상하 5px, 좌우 10px로 설정 */
  box-sizing: border-box; /* 크기 계산 방법을 border-box로 설정 */
}

/* 링크 메뉴의 구분선 스타일 */
#link-menu a::before {
  content: ""; /* 내용을 공백으로 설정 */
  width: 0.1px; /* 너비를 0.1px로 설정 */
  height: 15px; /* 높이를 15px로 설정 */
  background-color: #c4c4c5; /* 배경색을 #c4c4c5로 설정 */
  position: absolute; /* 포지션 타입을 absolute로 설정 */
  top: 0; /* 상단 위치를 0으로 설정 */
  bottom: 0; /* 하단 위치를 0으로 설정 */
  left: 0; /* 왼쪽 위치를 0으로 설정 */
  margin: auto; /* 자동 마진 설정으로 세로 중앙 정렬 */
}

/* 첫 번째 링크 메뉴의 구분선 숨김 처리 */
#link-menu a:first-child::before {
  display: none; /* 표시 유형을 none으로 설정하여 숨김 처리 */
}

/* 마우스 호버 시 링크 메뉴 글자 스타일 */
#link-menu a {
  text-decoration: none; /* 밑줄 제거 */
  color: #505050; /* 글자 색상을 #505050로 설정 */
  transition: .1s; /* 애니메이션 시간을 0.1초로 설정 */
}

/* 마우스 호버 시 링크 메뉴 글자 색상 변경 */
#link-menu a:hover {
  text-decoration: none; /* 밑줄 제거 */
  color: #9e9e9e; /* 글자 색상을 #9e9e9e로 변경 */
}
  
  /* 모바일 화면 스타일 */
  @media screen and (max-width: 500px) {
    body {
      min-height: 780px; /* 최소 높이 설정 */
      background-color: #000000; /* 배경색 설정 */
    }
    .container {
      width: 100vw; /* 너비를 현재 화면 너비로 설정 */
      height: 500px; /* 높이 설정 */
      border: 0px; /* 테두리 두께 설정 */
      box-shadow: none; /* 그림자 효과 없음 */
    }
  
    .content {
      width: 85vw; /* 너비를 현재 화면 너비의 85%로 설정 */
      min-width: 380px; /* 최소 너비 설정 */
    }
  }
  .nameButton {
    margin-top: 15px; /* 위쪽 여백 설정 */
    width: 46px; /* 너비 설정 */
    height: 48px; /* 높이 설정 */
    background-color: #fafafa; /* 배경색 설정 */
    border: 1px solid #ccc; /* 테두리 두께와 색상 설정 */
    margin-right: -2px; /* 오른쪽 여백 설정 */
  }
  
  .nameImage {
    width: 22px; /* 너비 설정 */
    height: 26px; /* 높이 설정 */
    padding-top: 9px; /* 위쪽 안쪽 여백 설정 */
    padding-left: 12px; /* 왼쪽 안쪽 여백 설정 */
  }
  
  .name-text {
    margin-top: 15px; /* 위쪽 여백 설정 */
    width: 413px; /* 너비 설정 */
    height: 46px; /* 높이 설정 */
    font-size: 14px; /* 글자 크기 설정 */
    font-weight: 700; /* 글자 두께 설정 */
    border: 1px solid #ccc; /* 테두리 두께와 색상 설정 */
  }
  
  .name-text::placeholder {
    color: rgb(170, 170, 170); /* 텍스트 플레이스홀더 색상 설정 */
  }
  
  .phone {
    display: flex; /* 표시 유형을 flex로 설정 */
    justify-content: center; /* 가로 중앙 정렬 설정 */
  }
  
  .phoneButton {
    margin-top: 15px; /* 위쪽 여백 설정 */
    width: 46px; /* 너비 설정 */
    height: 48px; /* 높이 설정 */
    background-color: #fafafa; /* 배경색 설정 */
    border: 1px solid #ccc; /* 테두리 두께와 색상 설정 */
    margin-right: -2px; /* 오른쪽 여백 설정 */
  }
  
  .phoneImage {
    width: 20px; /* 너비 설정 */
    height: 24px; /* 높이 설정 */
    padding-top: 11px; /* 위쪽 안쪽 여백 설정 */
    padding-left: 12px; /* 왼쪽 안쪽 여백 설정 */
  }
  
  .phone-text {
    margin-top: 15px; /* 위쪽 여백 설정 */
    width: 413px; /* 너비 설정 */
    height: 46px; /* 높이 설정 */
    font-size: 14px; /* 글자 크기 설정 */
    font-weight: 700; /* 글자 두께 설정 */
    border: 1px solid #ccc; /* 테두리 두께와 색상 설정 */
  }

  .phone-text::placeholder {
    color: rgb(170, 170, 170); /* 텍스트 플레이스홀더 색상 설정 */
  }

  .line1 {
    display: flex; /* 표시 유형을 flex로 설정 */
    justify-content: center; /* 가로 중앙 정렬 설정 */
  }

  .line {
    margin-top: 20px; /* 위쪽 여백 설정 */
    width: 30.5%; /* 너비 설정 */
  }

  .h-agree {
    padding-left: 35px; /* 왼쪽 안쪽 여백 설정 */
  }

  .h-infor {
    text-align: center; /* 텍스트 정렬을 가운데로 지정 */
    display: block; /* 표시 유형을 블록으로 설정 */
  }

  .all-ch {
    display: block; /* 표시 유형을 블록으로 설정 */
    text-align: center; /* 텍스트 정렬을 가운데로 지정 */
    margin-left: -320px; /* 왼쪽 여백 설정 */
  }

  .ALL-check {
    width: 20px; /* 너비 설정 */
    height: 20px; /* 높이 설정 */
    vertical-align: text-bottom; /* 수직 정렬을 텍스트 하단으로 지정 */
  }

  .font {
    font-weight: bold; /* 글자 두께를 굵게 설정 */
  }

  .ad {
    display: flex; /* 표시 유형을 flex로 설정 */
    justify-content: center; /* 가로 중앙 정렬 설정 */
  }
  .agree {
    font-weight: bold;
    font-size: 12px;
    padding-left: 33px;
    margin-top: 6px;
  }
  
  .big {
  }

  .m-box {
    display: flex; /* 표시 유형을 flex로 설정 */
    justify-content: center; /* 가로 중앙 정렬 설정 */
    margin-left: 7px; /* 왼쪽 여백 설정 */
  }

  .message {
    width: 300px; /* 너비 설정 */
    height: 350px; /* 높이 설정 */
    border: 1px solid #000; /* 테두리 두께와 색상 설정 */
    margin-top: 5px; /* 위쪽 여백 설정 */
  }

  .m-1 {
  }

  .ang {
    margin-top: 17px; /* 위쪽 여백 설정 */
  }

  .check-1 {
    width: 20px; /* 너비 설정 */
    height: 20px; /* 높이 설정 */
    vertical-align: text-top; /* 수직 정렬을 텍스트 상단으로 지정 */
    margin-left: 20px; /* 왼쪽 여백 설정 */
  }

  .text {
    font-size: 14px; /* 글자 크기 설정 */
    font-weight: 500; /* 글자 두께 설정 */
  }

  .ang2 {
    margin-top: 7px; /* 위쪽 여백 설정 */
  }

  .check-2 {
    width: 20px; /* 너비 설정 */
    height: 20px; /* 높이 설정 */
    vertical-align: text-top; /* 수직 정렬을 텍스트 상단으로 지정 */
    margin-left: 42px; /* 왼쪽 여백 설정 */
  }

  .join {
    margin-top: 30px; /* 위쪽 여백 설정 */
    display: flex; /* 표시 유형을 flex로 설정 */
    justify-content: center; /* 가로 중앙 정렬 설정 */
  }

  .join-button {
    width: 470px; /* 너비 설정 */
    height: 52px; /* 높이 설정 */
    background-color:  #665ae870; /* 배경색 설정 */
    color: white; /* 글자 색상 설정 */
    border-style: none; /* 테두리 스타일 없음 */
    font-size: 17px; /* 글자 크기 설정 */
    font-weight: bold; /* 글자 두께 설정 */
  }