@charset "UTF-8";
a {
    text-decoration-line: none;
}
*{margin: 0; padding: 0;}
.header{
    text-align: center;
}
.header h1{
    padding: 30px 0;
}
.header h2{
    background: #000;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    padding: 10px 0;
    letter-spacing: 10px;
}
.container {
    margin: 50px 0;
}
fieldset{
    width: 600px;
    margin: 50px auto;
    padding: 50px;
    box-sizing: border-box;
}
fieldset h3{
    text-align: center;
    margin-bottom: 10px;
}
legend{
    display: none;
}

div label {
    font-size: 14px;
    margin: 5ps;
}
input[type=text], input[type=password],
button{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius:5px;
    box-sizing: border-box;
}
.btnLogin {
    background: #000;
    color:#fff;
    font-size: 15px;
    border: none;
}
.btnJoin {
    background: #000;
    color: #fff;
    font-size: 15px;
    border: none;
}
.orderView input[type=text]{
    display: inline;
    width: 85%;
}
.orderView label{
    font-size: 14px;
    margin: 5px
}
.inputPhone{
    width: 33.8% !important;
}
select{
    padding: 10px;
}
.btnView{
    background:#c75d23;
    color: #fff;
    font-size: 15px;
    border: none;
}
.footer ul{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid#ccc;
    padding: 5px;
    margin-top: 50px;
    text-align: center;
}
.footer ul li {
    display: inline-block;
    margin: 0 5px;
}
.footer ul li a {
    color: #999;
    font-size: 14px;
    text-decoration: none;
}
.call {
    text-align: center;
    margin: 10px 0;
}
.call a {
    font-size: 20px ;
    color: #d8724e;
}
address{
    text-align: center;
    font-size: 12px;
    color: #999;
    font-style: normal;
}
.copy{
    text-align: center;
    font-size: 12px;
    color: #999;
    margin: 10px;
    font-style: normal;
}
.footerLogo{
    text-align: center;
    margin-bottom: 20px 0;
}
.footerLogo img {
    margin-top: 10px;
    width: 80px;
    opacity: 0.3;
}
.footer{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-top: 50px;
    text-align: center;
}